// Breakpoints
// 600px and DOWN: phones
// 600px and UP: portrait tablets and large phones
// 768px and up: landscape tablets
// 992px and up: laptops/desktops
// 1200px and up: large laptops and desktops

// Colors
$footer-background: rgb(250, 250, 250);
$heading-background: rgb(45, 38, 64);
$how-we-work-background: rgb(45, 38, 64);
$menu-background: rgb(45, 38, 64);
$button-background: rgb(250, 250, 250);
$button-border: rgb(250, 250, 250);
$view-plan-desktop-background: rgb(43, 39, 47);
$view-plan-desktop-border: rgb(43, 39, 47);
$word-color-1: rgb(250, 250, 250);
$word-color-2: rgb(45, 38, 64);
$word-color-3: rgb(43, 39, 47);
$word-color-4: rgb(131, 125, 135);