body {
    font-family: 'Karla', serif;

    h1, h2, h3 {
        font-family: 'DM Serif Display', sans-serif;
        letter-spacing: 0.1rem;
    }

    .container {
        width: 328px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 600px) {
    body {
        .container {
            width: 536px;
        }
    }
}

@media only screen and (min-width: 768px) {
    body {
        .container {
            width: 704px;
        }
    }
}

@media only screen and (min-width: 992px) {
    body {
        .container {
            width: 928px;
        }
    }
}

// @media only screen and (min-width:1200px) {
//     body {
//         .container {
//             width: 1152px;
//         }
//     }
// }